:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-column{flex-direction:column;}
:root ._pl-1481558152{padding-left:var(--space-9);}
:root ._pt-1316330238{padding-top:var(--space-14);}
:root ._pb-1316330145{padding-bottom:var(--space-11);}
:root ._bg-643859276{background-color:var(--blue8);}
:root ._pr-1481558214{padding-right:var(--space-7);}
:root ._fd-row{flex-direction:row;}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._col-1773507307{color:var(--purple1);}
:root ._tt-1440318371{text-transform:var(--f-tr-16);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-1366436691{font-weight:var(--f-we-16);}
:root ._ls-4px{letter-spacing:4px;}
:root ._fos-1477259211{font-size:var(--f-si-16);}
:root ._lh-1677663268{line-height:var(--f-li-16);}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._whiteSpace-normal{white-space:normal;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._fow-700{font-weight:700;}
:root ._ls-0d0t5px46{letter-spacing:0.5px;}
:root ._fos-229441282{font-size:var(--f-si-6);}
:root ._lh-222976573{line-height:var(--f-li-4);}
:root ._pt-1481558276{padding-top:var(--space-5);}
:root ._tt-1440318433{text-transform:var(--f-tr-14);}
:root ._fow-900{font-weight:900;}
:root ._ls-905096032{letter-spacing:var(--f-21-14);}
:root ._fos-1477259273{font-size:var(--f-si-14);}
:root ._lh-1677663330{line-height:var(--f-li-14);}
:root ._tt-uppercase{text-transform:uppercase;}
:root ._bg-643859245{background-color:var(--blue7);}
:root ._pr-1481558152{padding-right:var(--space-9);}
:root ._col-643859059{color:var(--blue1);}
:root ._ls-0d0t51162{letter-spacing:$0.5;}
:root ._fos-229441375{font-size:var(--f-si-9);}
:root ._lh-222976728{line-height:var(--f-li-9);}
:root ._pt-1481558152{padding-top:var(--space-9);}
:root ._pb-1481558152{padding-bottom:var(--space-9);}