:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-column{flex-direction:column;}
:root ._pt-1316330145{padding-top:var(--space-11);}
:root ._pr-1316330145{padding-right:var(--space-11);}
:root ._pb-1316330145{padding-bottom:var(--space-11);}
:root ._pl-1316330145{padding-left:var(--space-11);}
:root ._fd-row{flex-direction:row;}
:root ._pr-1481558214{padding-right:var(--space-7);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._col-1215596876{color:var(--green7);}
:root ._tt-230632922{text-transform:var(--f-tr-6);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016202{font-weight:var(--f-we-6);}
:root ._ls-167744121{letter-spacing:var(--f-21-6);}
:root ._fos-229441282{font-size:var(--f-si-6);}
:root ._lh-222976635{line-height:var(--f-li-6);}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._whiteSpace-normal{white-space:normal;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._fow-bold{font-weight:bold;}
:root ._ls-1px{letter-spacing:1px;}
:root ._fos-229441220{font-size:var(--f-si-4);}
:root ._lh-222976573{line-height:var(--f-li-4);}